# GitHub Actions Unity CI/CD workflow
#
# Version: 1.0
# License: CC BY 4.0
name: Build

on:
  # Triggers the workflow on push request events but only for the 'master' branch
  push:
    branches:
      - galaxy
    paths:
      - 'Assets/**'
      - 'Packages/**'
      - 'ProjectSettings/**'
      - 'UserSettings/**'

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    name: Unity CI
    runs-on: ubuntu-latest
    steps:
      # Checks the repository out
      - name: Repository checkout 📥
        uses: actions/checkout@v2
        with:
          lfs: true

      # Cache
      # - uses: actions/cache@v2
      #   with:
      #     path: Library
      #     key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
      #     restore-keys: |
      #       Library-

      # Gets project name
      - name: Get project name 📝
        run: echo "PROJECT_NAME=$(jq -r '.repository.name' < $GITHUB_EVENT_PATH)" >> $GITHUB_ENV

      # Builds the project
      - name: Build ⚙️
        uses: game-ci/unity-builder@v2
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: WebGL
          allowDirtyBuild: false # 'true' for failsafe, 'false' for reliability.

      # Deploy the game to my Server
      - name: rsync deployments 🏗️
        uses: burnett01/rsync-deployments@5.2.1
        with:
          switches: -avr -zz
          path: /build/WebGL/WebGL/
          remote_path: /home/${{ secrets.UBERSPACE_USER }}/html/RW-Type/
          remote_host: ${{ secrets.UBERSPACE_HOST }}
          remote_user: ${{ secrets.UBERSPACE_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY_PRIVATE }}