# GitHub Actions Unity CI/CD workflow
#
# Version: 1.0
# License: CC BY 4.0

name: SSH Copy Test
on:
  workflow_dispatch: {}

jobs:
  build:
    name: Copy Test
    runs-on: ubuntu-latest
    steps:
      # Data erzeugen
      - name: Create files
        run: |
          echo "I won't live long" > my_file.txt \
          echo "mee too" > my_file2.txt \
          echo "same here" > my_file3.txt

      - name: rsync deployments
        uses: burnett01/rsync-deployments@5.2.1
        with:
        switches: -avzr --delete
        path: /
        remote_path: /home/${{ secrets.UBERSPACE_USER }}/html/RW-Type/
        remote_host: ${{ secrets.UBERSPACE_HOST }}
        remote_user: ${{ secrets.UBERSPACE_USER }}
        remote_key: ${{ secrets.DEPLOY_KEY_PRIVATE }}